In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [25]:
df = pd.read_csv('Churn_Modelling.csv')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9946 non-null   object
 6   Age              9700 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [27]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           9946 non-null   object
 3   Age              9700 non-null   float64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(3), int64(6), object(2)
memory usage: 859.5+ KB

In [29]:
df.Gender.value_counts()

Gender
Male      5431
Female    4515
Name: count, dtype: int64

In [30]:
df.Gender.mode()

0    Male
Name: Gender, dtype: object

In [31]:
df['Gender'] = df['Gender'].fillna('Male')

In [32]:
df.Gender.value_counts()

Gender
Male      5485
Female    4515
Name: count, dtype: int64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              9700 non-null   float64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(3), int64(6), object(2)
memory usage: 859.5+ KB

In [34]:
# Label encoding

In [35]:
label_encoder = preprocessing.LabelEncoder()
df['Gender_label'] = label_encoder.fit_transform(df.Gender.values)

In [36]:
df.tail()

      CreditScore Geography  Gender   Age  Tenure  ...  HasCrCard  IsActiveMember  EstimatedSalary  Exited  Gender_label
9995          771    France    Male  39.0       5  ...          1               0         96270.64       0             1
9996          516    France    Male  35.0      10  ...          1               1        101699.77       0             1
9997          709    France  Female  36.0       7  ...          0               1         42085.58       1             0
9998          772   Germany    Male  42.0       3  ...          1               0         92888.52       1             1
9999          792    France  Female  28.0       4  ...          1               0         38190.78       0             0

[5 rows x 12 columns]

In [41]:
# One hot encoding
one_hot_encoding = pd.get_dummies(df['Geography'])
one_hot_encoding.head()

   France  Germany  Spain
0    True    False  False
1   False    False   True
2    True    False  False
3    True    False  False
4   False    False   True

In [44]:
df_dummies = pd.get_dummies(df, drop_first=True)
df_dummies.head()

   CreditScore   Age  Tenure    Balance  ...  Gender_label  Geography_Germany  Geography_Spain  Gender_Male
0          619  42.0       2       0.00  ...             0              False            False        False
1          608  41.0       1   83807.86  ...             0              False             True        False
2          502  42.0       8  159660.80  ...             0              False            False        False
3          699  39.0       1       0.00  ...             0              False            False        False
4          850  43.0       2  125510.82  ...             0              False             True        False

[5 rows x 13 columns]

In [ ]:
# Target Encoding