# Pandas

In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.DataFrame(np.arange(0, 30).reshape(5,6), index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5'], columns=['Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6'])
# Display the DataFrame
print(df)

      Column1  Column2  Column3  Column4  Column5  Column6
Row1        0        1        2        3        4        5
Row2        6        7        8        9       10       11
Row3       12       13       14       15       16       17
Row4       18       19       20       21       22       23
Row5       24       25       26       27       28       29

In [51]:
df.to_csv('data.csv')

In [52]:
df.loc['Row3']

Column1    12
Column2    13
Column3    14
Column4    15
Column5    16
Column6    17
Name: Row3, dtype: int64

In [53]:
df.iloc[:,:]

      Column1  Column2  Column3  Column4  Column5  Column6
Row1        0        1        2        3        4        5
Row2        6        7        8        9       10       11
Row3       12       13       14       15       16       17
Row4       18       19       20       21       22       23
Row5       24       25       26       27       28       29

In [54]:
df.iloc[3:5, :]

      Column1  Column2  Column3  Column4  Column5  Column6
Row4       18       19       20       21       22       23
Row5       24       25       26       27       28       29

In [55]:
df = pd.read_csv("csv_data.csv") #reads csv file
df

,First Name,Last Name,School,College,Grade (Intermediate),State
0,Arin,Sharma,St. Vishna RRN School,Mangalayatan University,65%,Uttar Pradesh
1,Advik,Verma,Kendriya Vidyalaya,"National Law University, Delhi",68%,Uttarakhand
2,Vishal,Verma,Kendriya Vidyalaya,National Defence Academy,86%,Uttarakhand
3,Vikas,Singh,Kendriya Vidyalaya,AIIMS (Delhi),88%,Bihar
4,Vaishnavi,Singh,Kendriya Vidyalaya,NIT Kurukshetra,84%,Haryana
5,Rishita,Bhatt,Kendriya Vidyalaya,IIT Roorkee,99.20%,Gujarat

In [56]:
data = pd.read_json("json_data.json") #reads json data
data.head() #lists first 5 data

,id,title,slug,description,price,instructor,isFeatured,image
0,1,Guitar Fundamentals,guitar-fundamentals,Learn the basics of playing guitar with our co...,99.99,John Doe,True,https://images.unsplash.com/photo-152520154086...
1,2,Advanced Jazz Piano,advanced-jazz-piano,"Explore complex chords, improvisation, and jaz...",149.99,Sarah Chen,False,https://images.unsplash.com/photo-1549419615-5...
2,3,Drums: Rhythm Mastery,drums-rhythm-mastery,Techniques for various drumming styles includi...,119.50,Mike Johnson,True,https://images.unsplash.com/photo-1558296245-7...
3,4,Vocal Training for Beginners,vocal-training-beginners,"Improve pitch, breathing control, and vocal ra...",89.00,Aisha Khan,False,https://images.unsplash.com/photo-157777748450...
4,5,Music Production in Ableton,music-production-ableton,"From recording to mixing, master the digital a...",199.99,Alex Rodriguez,True,https://images.unsplash.com/photo-151860013917...

In [57]:
data = pd.read_excel("excel_data.xlsx") #reads excel data
data.tail() #reads last 5 data

,First Name,Last Name,School,College,Grade (Intermediate),State
1,Advik,Verma,Kendriya Vidyalaya,"National Law University, Delhi",0.680,Uttarakhand
2,Vishal,Verma,Kendriya Vidyalaya,National Defence Academy,0.860,Uttarakhand
3,Vikas,Singh,Kendriya Vidyalaya,AIIMS (Delhi),0.880,Bihar
4,Vaishnavi,Singh,Kendriya Vidyalaya,NIT Kurukshetra,0.840,Haryana
5,Rishita,Bhatt,Kendriya Vidyalaya,IIT Roorkee,0.992,Gujarat

In [58]:
#Creating Data
data = {
    "Name": ["Arin", "Rishita", "Advik"],
    "Age": [21, 21, 20],
    "State": ["Uttar Pradesh", "Gujarat", "Uttarakhand"]
}

In [59]:
df = pd.DataFrame(data) #creating data into dataframe
df

      Name  Age          State
0     Arin   21  Uttar Pradesh
1  Rishita   21        Gujarat
2    Advik   20    Uttarakhand

In [60]:
df.to_csv("data.csv", index=False) #creates data into csv file

In [61]:
df.to_excel("data.xlsx", index=False)  #creates data into excel file

In [62]:
df.to_json("data.json", index=False)  #creates data into json file
df

      Name  Age          State
0     Arin   21  Uttar Pradesh
1  Rishita   21        Gujarat
2    Advik   20    Uttarakhand

In [63]:
df = pd.read_csv("csv_data.csv") #reads csv file
df

,First Name,Last Name,School,College,Grade (Intermediate),State
0,Arin,Sharma,St. Vishna RRN School,Mangalayatan University,65%,Uttar Pradesh
1,Advik,Verma,Kendriya Vidyalaya,"National Law University, Delhi",68%,Uttarakhand
2,Vishal,Verma,Kendriya Vidyalaya,National Defence Academy,86%,Uttarakhand
3,Vikas,Singh,Kendriya Vidyalaya,AIIMS (Delhi),88%,Bihar
4,Vaishnavi,Singh,Kendriya Vidyalaya,NIT Kurukshetra,84%,Haryana
5,Rishita,Bhatt,Kendriya Vidyalaya,IIT Roorkee,99.20%,Gujarat

In [64]:
df.head(1) #return first data

,First Name,Last Name,School,College,Grade (Intermediate),State
0,Arin,Sharma,St. Vishna RRN School,Mangalayatan University,65%,Uttar Pradesh

In [65]:
df.tail(1) #return last data

,First Name,Last Name,School,College,Grade (Intermediate),State
5,Rishita,Bhatt,Kendriya Vidyalaya,IIT Roorkee,99.20%,Gujarat

In [66]:
df.info() #returns data summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   First Name            6 non-null      object
 1   Last Name             6 non-null      object
 2   School                6 non-null      object
 3   College               6 non-null      object
 4   Grade (Intermediate)  6 non-null      object
 5   State                 6 non-null      object
dtypes: object(6)
memory usage: 420.0+ bytes

In [67]:
df.describe()

,First Name,Last Name,School,College,Grade (Intermediate),State
count,6,6,6,6,6,6
unique,6,4,2,6,6,5
top,Arin,Verma,Kendriya Vidyalaya,Mangalayatan University,65%,Uttarakhand
freq,1,2,5,1,1,2

In [68]:
#Creating Data
data = {
    "Name": ["Arin", "Rishita", "Vaishnavi", "Advik", "Vishal", "Radhika"],
    "Grade": [65, 99, 84, 68, 86, 88],
    "State": ["Uttar Pradesh", "Gujarat", "Haryana","Uttarakhand", "Uttarakhand", "Madhya Pradesh"],
    "Gender": ["Male", "Female", "Female", "Male","Male", "Female"],
    "Salary": [60000, 950000, 40000, 20000, 10000, 65000]
}
df = pd.DataFrame(data)
df

        Name  Grade           State  Gender  Salary
0       Arin     65   Uttar Pradesh    Male   60000
1    Rishita     99         Gujarat  Female  950000
2  Vaishnavi     84         Haryana  Female   40000
3      Advik     68     Uttarakhand    Male   20000
4     Vishal     86     Uttarakhand    Male   10000
5    Radhika     88  Madhya Pradesh  Female   65000

In [69]:
df.describe() # generate descriptive statistics of a dataFrame

           Grade         Salary
count   6.000000       6.000000
mean   81.666667  190833.333333
std    12.878923  372537.470151
min    65.000000   10000.000000
25%    72.000000   25000.000000
50%    85.000000   50000.000000
75%    87.500000   63750.000000
max    99.000000  950000.000000

#### Knowing column and shape of dataset

In [70]:
df.shape #returns shape

(6, 5)

In [71]:
df.columns #returns columns

Index(['Name', 'Grade', 'State', 'Gender', 'Salary'], dtype='object')

#### Filtering based on condition

In [72]:
salary = df[df["Salary"]> 50000]
salary

      Name  Grade           State  Gender  Salary
0     Arin     65   Uttar Pradesh    Male   60000
1  Rishita     99         Gujarat  Female  950000
5  Radhika     88  Madhya Pradesh  Female   65000

In [73]:
lower_salary = df[(df["Salary"] > 10000) & (df["Salary"] < 50000)]
lower_salary

        Name  Grade        State  Gender  Salary
2  Vaishnavi     84      Haryana  Female   40000
3      Advik     68  Uttarakhand    Male   20000

In [81]:
df["Name"] #returns single column

0         Arin
1      Rishita
2    Vaishnavi
3        Advik
4       Vishal
5      Radhika
Name: Name, dtype: object

In [82]:
df[["Name", "Salary"]] #returns multiple columns

        Name  Salary
0       Arin   60000
1    Rishita  950000
2  Vaishnavi   40000
3      Advik   20000
4     Vishal   10000
5    Radhika   65000

In [83]:
higher_rankers = df[(df["Grade"] > 85) & (df["Grade"] < 90)]
higher_rankers

      Name  Grade           State  Gender  Salary
4   Vishal     86     Uttarakhand    Male   10000
5  Radhika     88  Madhya Pradesh  Female   65000

In [84]:
passed = df[(df["Grade"] > 50) & (df["Grade"] < 70)]
passed

    Name  Grade          State Gender  Salary
0   Arin     65  Uttar Pradesh   Male   60000
3  Advik     68    Uttarakhand   Male   20000

In [85]:
df

        Name  Grade           State  Gender  Salary
0       Arin     65   Uttar Pradesh    Male   60000
1    Rishita     99         Gujarat  Female  950000
2  Vaishnavi     84         Haryana  Female   40000
3      Advik     68     Uttarakhand    Male   20000
4     Vishal     86     Uttarakhand    Male   10000
5    Radhika     88  Madhya Pradesh  Female   65000

In [86]:
successfull = df[(df["Grade"] > 70) | (df["Salary"] > 15000)]
successfull

        Name  Grade           State  Gender  Salary
0       Arin     65   Uttar Pradesh    Male   60000
1    Rishita     99         Gujarat  Female  950000
2  Vaishnavi     84         Haryana  Female   40000
3      Advik     68     Uttarakhand    Male   20000
4     Vishal     86     Uttarakhand    Male   10000
5    Radhika     88  Madhya Pradesh  Female   65000

In [87]:
url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'
dfs = pd.read_html(url)

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1077)>

In [ ]:
dfs[0]