In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [9]:
df = pd.read_csv('/content/Churn_Modelling.csv')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9946 non-null   object
 6   Age              9700 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [11]:
df.drop(columns=['CustomerId', 'RowNumber', 'Surname'], axis=1, inplace=True)

In [12]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [13]:
df.Gender.value_counts()

Gender
Male      5431
Female    4515
Name: count, dtype: int64

In [14]:
# Handling missing values
df.Gender.mode()

0    Male
Name: Gender, dtype: object

In [15]:
df['Gender'] = df['Gender'].fillna('Male')

In [16]:
df.Gender.value_counts()

Gender
Male      5485
Female    4515
Name: count, dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              9700 non-null   float64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(3), int64(6), object(2)
memory usage: 859.5+ KB

In [18]:
# Label Encoding
label_encoding = preprocessing.LabelEncoder()
df['Gender_label'] = label_encoding.fit_transform(df.Gender.values)

In [19]:
df.head()

   CreditScore Geography  Gender  ...  EstimatedSalary  Exited  Gender_label
0          619    France  Female  ...        101348.88       1             0
1          608     Spain  Female  ...        112542.58       0             0
2          502    France  Female  ...        113931.57       1             0
3          699    France  Female  ...         93826.63       0             0
4          850     Spain  Female  ...         79084.10       0             0

[5 rows x 12 columns]

In [20]:
df.Gender_label.value_counts()

Gender_label
1    5485
0    4515
Name: count, dtype: int64

In [22]:
# One hot encoding
one_hot_encoding = pd.get_dummies(df['Geography'], dtype=int)
one_hot_encoding

      France  Germany  Spain
0          1        0      0
1          0        0      1
2          1        0      0
3          1        0      0
4          0        0      1
...      ...      ...    ...
9995       1        0      0
9996       1        0      0
9997       1        0      0
9998       0        1      0
9999       1        0      0

[10000 rows x 3 columns]

In [23]:
df.head()

   CreditScore Geography  Gender  ...  EstimatedSalary  Exited  Gender_label
0          619    France  Female  ...        101348.88       1             0
1          608     Spain  Female  ...        112542.58       0             0
2          502    France  Female  ...        113931.57       1             0
3          699    France  Female  ...         93826.63       0             0
4          850     Spain  Female  ...         79084.10       0             0

[5 rows x 12 columns]

In [25]:
df_dummies = pd.get_dummies(df, dtype=int)
df_dummies.head()

   CreditScore   Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0          619  42.0       2  ...                0              1            0
1          608  41.0       1  ...                1              1            0
2          502  42.0       8  ...                0              1            0
3          699  39.0       1  ...                0              1            0
4          850  43.0       2  ...                1              1            0

[5 rows x 15 columns]

In [26]:
# Dummy Encoding
dummy_encoding = pd.get_dummies(df,drop_first=True, dtype=int)
dummy_encoding.head()

   CreditScore   Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619  42.0       2  ...                  0                0            0
1          608  41.0       1  ...                  0                1            0
2          502  42.0       8  ...                  0                0            0
3          699  39.0       1  ...                  0                0            0
4          850  43.0       2  ...                  0                1            0

[5 rows x 13 columns]