In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [74]:
df = pd.read_csv('Churn_Modelling.csv')

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9946 non-null   object
 6   Age              9700 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [76]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           9946 non-null   object
 3   Age              9700 non-null   float64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(3), int64(6), object(2)
memory usage: 859.5+ KB

In [78]:
df.Gender.value_counts()

Gender
Male      5431
Female    4515
Name: count, dtype: int64

In [79]:
df.Gender.mode()

0    Male
Name: Gender, dtype: object

In [80]:
df['Gender'] = df['Gender'].fillna('Male')

In [81]:
df.Gender.value_counts()

Gender
Male      5485
Female    4515
Name: count, dtype: int64

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              9700 non-null   float64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(3), int64(6), object(2)
memory usage: 859.5+ KB

In [83]:
# Label encoding

In [84]:
label_encoder = preprocessing.LabelEncoder()
df['Gender_label'] = label_encoder.fit_transform(df.Gender.values)

In [85]:
df.tail()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_label
9995,771,France,Male,39.0,5,0.00,2,1,0,96270.64,0,1
9996,516,France,Male,35.0,10,57369.61,1,1,1,101699.77,0,1
9997,709,France,Female,36.0,7,0.00,1,0,1,42085.58,1,0
9998,772,Germany,Male,42.0,3,75075.31,2,1,0,92888.52,1,1
9999,792,France,Female,28.0,4,130142.79,1,1,0,38190.78,0,0

In [86]:
# One hot encoding
one_hot_encoding = pd.get_dummies(df['Geography'])
one_hot_encoding.head()

   France  Germany  Spain
0    True    False  False
1   False    False   True
2    True    False  False
3    True    False  False
4   False    False   True

In [87]:
df_dummies = pd.get_dummies(df, drop_first=True)
df_dummies.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_label,Geography_Germany,Geography_Spain,Gender_Male
0,619,42.0,2,0.00,1,1,1,101348.88,1,0,False,False,False
1,608,41.0,1,83807.86,1,0,1,112542.58,0,0,False,True,False
2,502,42.0,8,159660.80,3,1,0,113931.57,1,0,False,False,False
3,699,39.0,1,0.00,2,0,0,93826.63,0,0,False,False,False
4,850,43.0,2,125510.82,1,1,1,79084.10,0,0,False,True,False

In [88]:
# Target Encoding
from category_encoders import TargetEncoder
df1 = pd.read_csv('Churn_Modelling.csv')
df1

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39.0,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35.0,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36.0,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42.0,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28.0,4,130142.79,1,1,0,38190.78,0

In [89]:
df1.drop(columns=['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [90]:
df1['Gender'] = df1['Gender'].fillna('Male')

In [91]:
df1.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39.0,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0

In [92]:
encoder = TargetEncoder()
df1['Gender_Encoded'] = encoder.fit_transform(df1['Gender'], df1['Exited'])

In [93]:
df1.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Encoded
0,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1,0.25072
1,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0,0.25072
2,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1,0.25072
3,699,France,Female,39.0,1,0.00,2,0,0,93826.63,0,0.25072
4,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0,0.25072

In [95]:
df1['Gender_Encoded'].value_counts()

Gender_Encoded
0.164995    5485
0.250720    4515
Name: count, dtype: int64

* Target encoding offers an easy benefit in its ability to capture complex, non-linear relationships between categorical features and the target variable, often improving model accuracy. A key limitation is the risk of overfitting the training data, especially with small datasets or high-cardinality features, requiring careful regularization

# Hash Encoding

In [102]:
from category_encoders import HashingEncoder
x = df.Gender
y = df.Exited
hash_encoding = HashingEncoder(cols=['Gender'])
hash_encoding.fit_transform(x,y)

      col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7
0         0      0      0      0      0      0      0      1
1         0      0      0      0      0      0      0      1
2         0      0      0      0      0      0      0      1
3         0      0      0      0      0      0      0      1
4         0      0      0      0      0      0      0      1
...     ...    ...    ...    ...    ...    ...    ...    ...
9995      0      0      0      0      0      1      0      0
9996      0      0      0      0      0      1      0      0
9997      0      0      0      0      0      0      0      1
9998      0      0      0      0      0      1      0      0
9999      0      0      0      0      0      0      0      1

[10000 rows x 8 columns]

In [107]:
x = df.Geography
hash_encoding2 = HashingEncoder(cols=['Geography'])
hash_encoding2.fit_transform(x,y)

      col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7
0         0      1      0      0      0      0      0      0
1         0      0      0      1      0      0      0      0
2         0      1      0      0      0      0      0      0
3         0      1      0      0      0      0      0      0
4         0      0      0      1      0      0      0      0
...     ...    ...    ...    ...    ...    ...    ...    ...
9995      0      1      0      0      0      0      0      0
9996      0      1      0      0      0      0      0      0
9997      0      1      0      0      0      0      0      0
9998      0      0      0      0      0      0      0      1
9999      0      1      0      0      0      0      0      0

[10000 rows x 8 columns]

In [108]:
hash_encoding2 = HashingEncoder(n_components=16, cols=['Geography'])
hash_encoding2.fit_transform(x,y)

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9996,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9997,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9999,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0