# Feature Scaling

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9946 non-null   object
 6   Age              9700 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [3]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Standardization (Z-Score Scaling) 
* What it does: Centers data around zero and scales it by the standard deviation, transforming data to follow a standard normal distribution (mean=0, std dev=1).
* When to use: Algorithms that assume normally distributed data or use distance metrics (SVM, PCA, Linear Regression).
* Outliers: Less affected by outliers as it uses mean and standard deviation.
# Normalization (Min-Max Scaling) 
* What it does: Rescales data to a fixed range, usually [0] or [-1].
* When to use: Algorithms sensitive to feature magnitudes and where the distribution isn't Gaussian (Neural Networks, k-NN).
* Outliers: Highly sensitive to outliers, which can compress the rest of the data.

In [4]:
df.describe().round()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.0,10000.0,10000.0,9700.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0
mean,5000.0,15690941.0,651.0,39.0,5.0,76486.0,2.0,1.0,1.0,100090.0,0.0
std,2887.0,71936.0,97.0,10.0,3.0,62397.0,1.0,0.0,0.0,57510.0,0.0
min,1.0,15565701.0,350.0,18.0,0.0,0.0,1.0,0.0,0.0,12.0,0.0
25%,2501.0,15628528.0,584.0,32.0,3.0,0.0,1.0,0.0,0.0,51002.0,0.0
50%,5000.0,15690738.0,652.0,37.0,5.0,97199.0,1.0,1.0,1.0,100194.0,0.0
75%,7500.0,15753234.0,718.0,44.0,7.0,127644.0,2.0,1.0,1.0,149388.0,0.0
max,10000.0,15815690.0,850.0,92.0,10.0,250898.0,4.0,1.0,1.0,199992.0,1.0

In [11]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0

In [12]:
new_df = pd.DataFrame(df, columns=['Age', 'Tenure'])

In [13]:
new_df.head()

    Age  Tenure
0  42.0       2
1  41.0       1
2  42.0       8
3  39.0       1
4  43.0       2

In [14]:
new_df['Age'] = new_df['Age'].fillna(new_df['Age'].mean())

In [15]:
scaler = MinMaxScaler() # instantiating min max scaler function
normalized_df = scaler.fit_transform(new_df)
print(normalized_df)

[[0.32432432 0.2       ]
 [0.31081081 0.1       ]
 [0.32432432 0.8       ]
 ...
 [0.24324324 0.7       ]
 [0.32432432 0.3       ]
 [0.13513514 0.4       ]]

In [17]:
scaler = StandardScaler() # instantiating standard scaler function
standardized_df = scaler.fit_transform(new_df)
print(standardized_df)

[[ 0.30001715 -1.04175968]
 [ 0.20296308 -1.38753759]
 [ 0.30001715  1.03290776]
 ...
 [-0.28230729  0.68712986]
 [ 0.30001715 -0.69598177]
 [-1.05873987 -0.35020386]]